
@{
    ViewBag.Title = "Not Authorised";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-danger topmar-10">
    <div class="panel-heading"> <span class="fa fa-lock fa-2x"> Not Authorised </span> 
    </div>
    <div class="panel-body text-center">
        <h2 class="danger">Sorry you are not authorised to do this action,</h2>
        <h3>Please contact system administrator</h3>
    </div>
</div>

