@{
    ViewBag.Title = "About";
}

<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Company</h2>
                    <p class="text-justify"><b>Savvy Corporate Services Pvt. Ltd.</b> is a leading management consultancy
                                    company with a focus on Payroll Services, Statutory Compliance management under
    various labour legislation, compliances under Contract Labour Regulation, Manpower
    Placement and vendor/contractor bill management Services. The company was
    incorporated on 11/04/2011 under Companies Act.</p>
                    <p class="text-justify">The company’s registered office is situated at 276/4,Govindpuri, Near Jain Mandir, Kalkaji,
New Delhi-110019 and head office is situated at B-143, DDA Shed, Okhla Industrial Area,
Phase-I, New Delhi-110020, covering entire Delhi-NCR region, Northern and Central States
of India and distinguished list of clients across industries include both Indian companies and
multinationals.</p>
                    <p class="text-justify">
                        We have a team of 08 employees &amp; 06 professionals well versed and proficient to attend to
                        the clients query and manage their statutory labour compliances.
                    </p>
                    <p class="text-justify">
                        Our operations and services are managed on professional lines and are guided by principles
                        that stem from our core values and business ethics integrity, trust, continuous learning and
                        partnering progress. We believe that every encounter with the client is a learning experience
                        an opportunity to continuously assimilate knowledge, re-look processes in order to realign
                        ourselves to serve our clients better every time.
                    </p>

                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Work with heart</h4>
                                <p class="text-justify">We believe that every encounter with the client is a learning experience
an opportunity to continuously assimilate knowledge, re-look processes in order to realign
ourselves to serve our clients better every time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Reliable services</h4>
                                <p class="text-justify">We have been truly committed to our clients and we do undertake that we shall render the most
professional, economical and efficient services to you as well.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Great support</h4>
                                <p class="text-justify">We have a team of 08 employees &amp; 06 professionals well versed and proficient to attend to
the clients query and manage their statutory labour compliances.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
