@{
    ViewBag.Title = "e-Pechan Card";
}

<div class="panel panel-info topmar-10">
    <div class="panel-heading">
        <strong class="text-danger fa-1x">Download e-Pehchan Card</strong>
    </div>
    <div class="panel-body">
        <div class="col-sm-5">

            <div class="form-group">
                <label for="name">
                    Employee Id
                </label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter employee id"/>
            </div>
            <div class="form-group">
                <label for="dob">
                    DOB
                </label>
                <input type="date" class="form-control" name="dob" id="dob" placeholder="Enter dob" />
            </div>
            <label class="text-danger"> OR</label>
            <div class="form-group">
                <label for="name">
                    Mobile No
                </label>
                <input type="text" class="form-control" name="mob" id="mob" placeholder="Enter 10 digit mobile no" />
            </div>

            <div class="form-group">
                <label for="name">
                    <img src="/Home/GetCaptchaImage" title="Captcha" />
                </label>
                <input type="text" class="form-control" id="clientCaptcha" name="clientCaptcha" placeholder="Write above text exactly" required />
                <p style="font-weight:bold;color:red;">@ViewBag.CaptchaError</p>

            </div>

            <div class="form-group">
                <button type="button" class="btn btn-primary pull-right" id="btnValidate">
                    <span class="fa fa-check"> </span> Validate
                </button>

                <button type="button" class="btn btn-info pull-right" style="margin-right:5px;" id="btnRefresh">
                    <span class="fa fa-refresh"> </span> Reset
                </button>
            </div>
            
        </div>

        <div class="col-sm-7">
            <div id="table"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#btnRefresh').click(function (e) {
            location.reload();
        });

        $('#btnValidate').click(function (e) {
            var code = $('#name').val();
            var dob = $('#dob').val();
            var mob = $('#mob').val();
            var captch = $('#clientCaptcha').val();
            if (code == "")
            {
                alert("Please enter employee id");
                return;
            }
            if (dob == "" && mob == "") {
                alert("Please enter dob or mob");
                return;
            }

            $('#table').jtable('load', {
                empcode: $('#name').val(), dob: $('#dob').val(), mobile: $('#mob').val(), captch: captch
            });
        });
        
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#table').jtable({
            title: 'e-Pehchan Card (Click on pdf icon to download)',
            paging: false,
            pagesize: 3,
            sorting: false,
            defaultSorting: 'Name ASC',
            actions: {
                listAction: '@Url.Action("List")',
            },
            fields: {
                Id: {
                    title: 'Id',
                    width:'1%',
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                EmpCode: {
                    title: 'EmployeeId',
                    width: '1%'
                },
                Name: {
                    title: 'EmpName',
                    width: '2%'
                },
                ESIIP: {
                    title: 'IP',
                    width: '2%'
                },
                DOB: {
                    title: 'DOB',
                    width: '2%',
                    type: 'date',
                    display: function (data) {
                        if (data.record.DOB != null)
                            return moment(data.record.DOB).format('DD/MM/YYYY')
                    },
                },
                Mobile: {
                    title: 'MobileNo',
                    width: '2%'
                },
                print: {
                    title: "e-Pehchan Card",
                    edit: false,
                    create: false,
                    width: '1%',
                    listClass: 'text-center',
                    display: function (data) {
                        var $img = $('<i title="Click to download" class="fa fa-file-pdf-o fa-1x pointer text-primary redico"/>');
                        $img.click(function () {
                            var url = "/Upload/ePechanCard/" + data.record.ESIIP + ".pdf";
                            window.open(url);
                            location.reload();
                        });
                        return $img;
                    }
                },
            },
        });
    });
</script>