@{
    ViewBag.Title = "Management";
}

<div class="aboutus-section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Management (DIRECTORS):</h2>
                        <div class="iconset">
                            <span class="glyphicon glyphicon-user icon"></span>
                            <b>
                                 MR. VINEET KUMAR PANDEY is the PROMOTER/DIRECTOR of Savvy Corporate
                                Services Pvt. Ltd., a statutory compliance management company based at New
                                Delhi.
                            </b>
                            <p class="text-justify">
                                Vineet Kumar Pandey is a young energetic entrepreneur he is having a vast experience in
                                the field of maintaining records and statutory compliance under various labour statutes and
                                is in this field for more than 18 years. He has worked with some of very reputed govt.
                                recognized export houses during his initial training period and handled all sorts of labour
                                related issues he is honest and reliable person in the industry.
                            </p>
                            <p class="text-justify">
                                Vineet is a commerce graduate, he is result oriented strategic business planner, executor
                                and capable to understand the market demand and the need of managements business.
                            </p>
                        </div>

                    <div class="iconset">
                        <span class="glyphicon glyphicon-user icon"></span>
                        <b>
                            Mrs. PRAMILA PANDEY, PROMOTOR/DIRECTOR
                        </b>
                        <p class="text-justify">
                            Mrs. Pramila Pandey is a young energetic entrepreneur she is having a vast experience in
                            the field of maintaining records and statutory compliance under various labour statutes and
                            is in this field for more than 15 years. She is handling administrative work and accounting of
                            the company..
                        </p>
                        <p class="text-justify">
                            Pramila is a graduate, she is result oriented and strategic administrator.
                        </p>
                    </div>

                    <div class="iconset">
                        <span class="glyphicon glyphicon-user icon"></span>
                        <b>
                            Mr. N.K Shukla, Associate Director
                        </b>
                        <p class="text-justify">
                            Mr. N K Shukla is a science graduate &amp; post graduate diploma in human resource
                            management, and having a more than 25 years’ experience and knowledge of HR
                            department functions &amp; responsibility.  He has proven experience in the HRM,
                            planning and implementation &amp; statutory compliance under various labour laws.  He
                            is a professionally refined and business savvy tester with good management skills to
                            achieving quality solutions to meet client’s needs in the field relates.
                        </p>
                        <p class="text-justify">
                            Mr. N.K Shukla is doing excellent job under CLRA act for our prominent clients. He
                            has a vast experience to handling registrations, renewals, filing of returns,
                            inspections, Audits of records under CLRA act and other labour legislations.
                        </p>
                    </div>
                    
                   
                    

                </div>
            </div>
            
        </div>
    </div>
</div>
