@using UI.Helper
@{
    ViewBag.Title = "Upload PF Challan";
}
<style>
    input, select, textarea {
        max-width: 180px;
    }
</style>

<div class="panel panel-info topmar-10">
    <div class="panel-heading">
        @Html.MyActionLink("<span class='fa fa-dashboard fa-1x'></span> Dashboard", "Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-info btn-sm" })
    </div>
    <div class="panel-body">

        <div class="col-sm-6 no-r-pad">
            <div class="alert alert-warning fade in">
                <span class="fa fa-sticky-note-o fa-2x"></span>
                <strong>Note!</strong> <br />
                <strong>1.</strong> Upload Single or Multiple challan copy. <br />
                <strong>2.</strong> File should be in .pdf format <br />
                <strong>3.</strong> Name all file as per TRRN number of challan.
            </div>
        </div>
       
        <div class="col-sm-6 no-r-pad">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="fa fa-money fa-1x"></span>
                    <strong>Upload PF Challan</strong>
                </div>
                <div class="panel-body">
                    <input type="file" id="UploadImg" multiple style="display:none" />

                    <button id="upload" type="button" class="btn btn-info">
                        <span class="fa fa-folder-open-o fa-1x"></span> Browse Files...
                        <span id="load" class="fa fa-spin fa-spinner"></span>
                    </button>

                    <table class="table table-hover" id="files">
                        <thead><tr><th>Sr</th><th>FileName</th><th>Status</th></tr></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>

@*Upload File*@
<script type="text/javascript">

    $('#load').hide();
    $('#files').hide();

    $("#upload").click(function (e) {
        e.preventDefault();
        $("#UploadImg").trigger('click');
    });


    $("#UploadImg").change(function () {
        $('#load').show();
        var data = new FormData();
        var files = $("#UploadImg").get(0).files;
        if (files.length > 0) {
            for (i = 0; i < files.length; i++) {
                data.append("MyImages"+i,files[i]);
            }
        }
        data.append("compid", $("#comp").val());
        data.append("ECRType", $("#ECRType").val());
        data.append("months", $("#months").val());
        $.ajax({
            url: "/MonthlyReturnMaster/UploadFile",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {
                //code after success
                $('#load').hide();
                $('#files').show();
                var files = response.split('#~#');
                $.each(files, function (number) {
                    $('#files tbody').append('<tr><td>' + number + '</td><td>' + files[number] + '</td><td>' + '<i class="fa fa-check fa-1x text-success"></i> Success' + '</td></tr>')
                });
            },
            error: function (er) {
                alert(er);
            }

        });
    });
</script>

